.btn {
  display: inline-block;
  text-decoration: none;
  border: 1px solid transparent;

  &--buy {
    padding: var(--unit) var(--span-m);
    border-radius: 19px;
    text-align: left;
    font: normal normal medium var(--size-m) / 19px var(--Montserrat);
    letter-spacing: 0px;
  }

  &--blue {
    background: var(--btn-blue);
    color: var(--white);
    transition: all 0.3s;
    &:hover {
      background: var(--white);
      border: 1px solid var(--blue);
      color: var(--blue);
    }
  }

  &--white {
    background: var(--white);
    color: var(--blue);
    transition: all 0.3s;

    &:hover {
      background: var(--blue);
      border: 2px solid var(--blue);
      color: var(--white);
    }
  }

  &--learn-more {
    padding: var(--unit) var(--span-m);
    text-align: left;
    font: normal normal medium var(--size-m) / 19px var(--Montserrat);
    letter-spacing: 0px;
    border: 2px solid var(--blue);
    margin-left: calc(var(--unit) + 5px);
    border-radius: 19px;
  }

  &--error {
    margin-top: var(--span-m);
    display: flex;
    align-items: center;
    font-family: var(--Inter);
    font-size: calc(var(--size-m) + 2px);
    font-style: normal;
    font-weight: var(--weight-xxlg);
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    padding: var(--span-s) var(--span-xl);
    background: var(--btn-404);
    color: var(--white);
    transition: all 0.3s;

    &:hover {
      background: var(--white);
      border: 1px solid var(--btn-404);
      color: var(--btn-404);
    }

    &:hover {
      .icon {
        svg {
          path {
            transition: all 0.3s;
            fill: var(--btn-404);
          }
        }
      }
    }

    .icon {
      margin-right: var(--unit);
    }
  }

  &--success {
    margin-top: var(--span-m);
    display: flex;
    align-items: center;
    background: var(--white);
    padding: var(--span-s) var(--span-xl);
    font-family: var(--Montserrat);
    font-size: calc(var(--size-m) + 2px);
    font-style: normal;
    font-weight: var(--weight-md);
    line-height: 25px;
    transition: all 0.3s;

    &:hover {
      background: unset;
      border: 1px solid var(--white);
    }

    &:hover span {
      color: var(--white);
    }

    &:hover {
      .icon {
        svg {
          path {
            transition: all 0.3s;
            fill: var(--white);
          }
        }
      }
    }

    @media only screen and (max-width: 600px) {
      padding: var(--span-s) var(--span-m);
      justify-content: center;
      font-size: var(--size-m);
      line-height: 23px;
    }

    .icon {
      margin-right: var(--unit);

      svg {
        path {
          transition: all 0.3s;
          fill: var(--black);
        }
      }
    }
    span {
      transition: all 0.3s;
      color: var(--black);
    }
  }
}
